<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internetslum</title>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" media="screen,projection">
</head>
<body>
  <header>
    <h1><a href="./">Internetslum</a></h1>
    <p class="tagline">Tagline</p>
    <nav>
      <h2 class="a11y-hidden">Hauptnavigation</h2>
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./list">List</a></li>
        <li><a href="./add">Add</a></li>
      </ul>
    </nav>
  </header>
  <div id="content">
    {{{body}}}
  </div>
</body>
</html>
