body {
  font-family: sans-serif;
  margin: 0;
}

header {
  display: block;
  padding: 1em;
  background: gray;
  background: -moz-linear-gradient(top, gray, #bbb); /* Firefox */
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#bbb)); /* Safari, Chrome */}

header h1 {
  margin: 0;
}

header .tagline {
  margin: 0;
  font-style: italic;
}

.a11y-hidden {
  position: absolute;
  left: -9999px;
}

nav ul {
  list-style-type: none;
  margin: 1em 0 0;
  padding: 0;
}

nav ul li {
  float: left;
  margin-right: 1em;
}

nav ul li:last-child {
  float: none;
}

#content {
  padding: 1em;
}
